{% load bootstrap3 %}
{% load static %}

<html>
	<head>
		<title>This is my web app!</title>
		{% bootstrap_css %}
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    	<script src="{% static "js/jquery.cookie/jquery.cookie.js" %}"></script>
    	{% bootstrap_javascript %}

    </head>
	<body>
	<table class="table table-hover">
		<caption>Fans</caption>
   		<thead>
      		<tr>
        	 <th>Name</th>
        	 <th>Profile Image</th>
      		</tr>
   		</thead>
   		<tbody>
   		{% for x,y in name %}
      		<tr>
      		 <td>{{ x }}</td>
        	 <td><img src={{ y }}></td>
      		</tr>
      	{% endfor %}
   		</tbody>
	</table>
	</body>
</html>